* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* background-color: rgb(255, 255, 255); */
    width: 800px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
    
}

.buttons button{
    font-size: 100px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
}